/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
body { font-family: sans-serif;}
div.error { border:3px solid red; color:red; font-style:italic; font-size:1.1em; padding:10px; background:#fdd;}
form.formtastic legend span { font-size:1.5em; font-weight:bold; padding-bottom:1em; color:blue;}
form.formtastic fieldset > ol > li.required label { font-weight:bold; }
form.formtastic fieldset > ol > li.error label { font-weight:bold; color:red;}

form.formtastic fieldset > ol > li.boolean label { padding-left:0; width:auto; font-weight:bold; }
form.formtastic fieldset > ol > li.boolean p.inline-hints { color:#000; margin:2em 0 0 0; }
form.formtastic fieldset > ol > li.boolean p.inline-errors { color:#cc0000; margin:0.5em 0 0 0; font-weight:bold; font-style:italic; font-size: 1.25em;}
