%h1= "#{@registrations.first.division.name} Mailing List Addresses"

- @registrations.each do |r|
  - r.registrations_people.each do |p|
    - unless p.person.email.blank?
      = p.person.email
      %br/
    - unless p.person.alt_email.blank?
      = p.person.alt_email
      %br/
