%h1= "#{@registrations.first.division.name} Mailing List Addresses"

- @registrations.each do |r|
  - r.registration_people.each do |p|
    - unless.p.email.blank?
      = p.email
      %br/
    - unless p.alt_email.blank?
      = p.alt_email
      %br/
